* {
    font-family: 'Mali', cursive;
}

h1 {
    font-weight: 100;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black
}

a:visited {
    color: black
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    margin: 1rem auto
}

select {
    /* text-align: center; */
    padding: 0.5rem;
    font-size: 2rem;
    width: 27rem;
    height: 6rem;
    border: dotted gray 1px
}

#greeting {
    border: dotted gray 1px;
    padding: 0.5rem;
    height: 6rem;
    width: 26rem;
    font-size: 2rem;
}

#greeting::placeholder {
	font-size: 2rem;
}

textarea {
    font-size: 1.2rem;
    border: dotted gray 1px
}

#submit {
    width: 6rem;
    height: 3rem;
    font-size: 1.4rem;
}

#card {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid #cccccc 1px;
    box-shadow: 10px 10px 5px grey;
}

img {
    width: 80%;
    margin: auto;
}

#cardGreeting, #cardEvent, #cardMessage {
    text-align: center
}

#cardGreeting {
    font-size: 2rem;
    margin-top: 4rem;
}

#cardEvent {
    font-size: 2.5rem;
}

#cardMessage {
    margin-bottom: 4rem;
}
